<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/restaurant.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Restaurantes</title>
  </head>
  <body>
    <%- include('includes/header') %>
    <div class="container restaurants">
      <h1>Restaurants</h1>
      <% for (const restaurant of restaurants) { %>
      <div class="restaurant">
        <div class="restaurant-description">
          <h3><%= restaurant.restaurantName %></h3>
          <p><%= restaurant.cuisine %></p>
          <p><%= restaurant.description %></p>
          <form
            action="/detailed-restaurant/<%=restaurant._id %>"
            method="POST"
          >
            <input
              type="hidden"
              name="restaurantName"
              value="<%= restaurant.restaurantName %>"
            />
            <input
              type="hidden"
              name="cuisine"
              value="<%= restaurant.cuisine %>"
            />
            <input
              type="hidden"
              name="description"
              value="<%= restaurant.description%>"
            />
            <input type="hidden" name="img" value="<%= restaurant.img %>" />
            <button class="restaurant-btn">More Info</button>
          </form>
        </div>
        <div class="restaurant-img">
          <img
            src="<%=restaurant.img %>"
            alt="<%=restaurant.restaurantName %>"
          />
        </div>
      </div>
      <% } %>
    </div>
    <%- include('includes/footer') %>
  </body>
</html>
